[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "world_engine"
version = "0.0.2"
requires-python = ">=3.9"
dependencies = [
  "torch>=2.0",
  "torchvision>=0.15",
  "torchaudio>=2.0",
  "einops",
  "rotary-embedding-torch>=0.8.8",
  "tensordict==0.10.0",
  "transformers==4.57.3",
  "ftfy",
  "diffusers",
  "huggingface-hub==0.36.0",
  "omegaconf",
  "accelerate==1.12.0",

  # internal dependencies
]

[project.optional-dependencies]
linux = [
  "xformers==0.0.34.dev20251208+cu128; platform_system=='Linux'",
]

[tool.setuptools]
packages = [
  "world_engine",
  "world_engine.model",
]

[tool.setuptools.package-dir]
world_engine = "src"
